{% extends 'base_layout.html' %} {% block content %}
<div class="row">
  <div class="col-md-3">
    <p class="lead">YelpCamp</p>
    <div class="list-group">
      <li class="list-group-item active">Info 1</li>
      <li class="list-group-item">Info 2</li>
      <li class="list-group-item">Info 3</li>
    </div>
    <div id="map"></div>
  </div>
  <div class="col-md-9">
    <div class="thumbnail">
      <img class="img-responsive" src="{{ campground.image }}" />
      <div class="caption-full">
        <h4 class="pull-right">${{ campground.cost }}/night</h4>
        <h4><a>{{ campground.name }}</a></h4>
        <p>{{ campground.description }}</p>
        <p>
          <em>Submitted by: {{ campground.author.username }}</em>
        </p>
        {% if user.is_authenticated and user.pk == campground.author.id %}
        <a
          class="btn btn-warning"
          href="{% url 'campgrounds:edit' id=campground.id %}"
          >Edit</a
        >
        <form
          action="{% url 'campgrounds:delete' id=campground.id %}"
          method="POST"
          class="delete-form"
        >
          {% csrf_token %}
          <button class="btn btn-danger">Delete</button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
